<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Students</h1>
  <%= link_to "New student", new_student_path, class: "btn btn-primary" %>
</div>

<div id="students" class="table-responsive">
  <table class="table table-striped table-hover table-borderless table-responsive">
    <thead>
      <tr>
        <th class="col">Name</th>
        <th class="col">Date of birth</th>
        <th class="col">Email</th>
        <th class="col">Corsi</th>
        <th class="col">Total paid</th>
        <th class="col" colspan="3"></th>
      </tr>
    </thead>

    <tbody class="align-middle">
      <% @students.each do |student| %>
        <tr>
          <td><%= student.full_name %></td>
          <td><%= student.date_of_birth %></td>
          <td><%= student.email %></td>
          <td>
            <% student.courses.each do |course| %>
              <%= "#{course.name} (#{course.teacher.name})" %>
              <br/>
            <% end %>
          </td>
          <td><%= number_to_currency(student.total_paid, unit: '€') %></td>
          <td>
            <%= link_to "Show", student, class: "btn btn-sm btn-outline-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
