<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= @course.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= @course.end_date %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @course.address %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= link_to @course.teacher.name, @course.teacher %>
  </p>

  <p>
    <strong>Weekly Schedule:</strong>
    <ul>
      <% @course.weekly_schedule.each do |schedule| %>
        <li>
          <%= schedule["day"] %>: <%= schedule["start_time"] %> - <%= schedule["end_time"] %>
        </li>
      <% end %>
    </ul>
  </p>

</div>
